a {color: #556B2F}
#p1 {height:150px; width:150px;position:relative;position: relative; left: 650px;}
ul.link{list-style-type: disc; font-style: italic; font-weight: bold}
h1{font-size: 200%; text-align: center; outline:#808000 dotted thick; outline-style:dashed; }
body{background-image: url(background.png); background-size: 100% }